{
  env: {
    browser: true,
    node: true,
    es6: true
  },
  parserOptions: {
    ecmaVersion: 6,
    sourceType: module,
    ecmaFeatures: {
      experimentalObjectRestSpread: true
    }
  },
  rules: {
    quotes: [error, single],
    camelcase: [error, {properties: always}],
    semi: [error, always],
    no-unused-vars: [error, {
      vars: local,
      args: after-used,
      varsIgnorePattern: ^LOG$,
      ignoreRestSiblings: true
    }],
    eqeqeq: error,
    wrap-iife: [error, inside],
    no-use-before-define: [error, {functions: false}],
    indent: [error, 4, {
      SwitchCase: 0,
      VariableDeclarator: {
        var: 1,
        let: 1,
        const: 1
      }
    }],
    no-redeclare: error,
    no-whitespace-before-property: error,
    block-spacing: error,
    // array-bracket-spacing: [error, never],
    brace-style: [error, 1tbs, {allowSingleLine: true}],
    comma-spacing: [error, {before: false, after: true}],
    comma-style: [error, last],
    space-in-parens: [error, never],
    space-infix-ops: error,
    space-unary-ops: error,
    keyword-spacing: error
  }
}
