! To list available fonts: fc-list / xlsfonts

!*font: xft:Terminus:pixelsize=11:style=Regular
!*boldFont: xft:Terminus:pixelsize=11:style=Regular
*font: xft:Monospace:pixelsize=11:style=Regular
*boldFont: xft:Monospace:pixelsize=11:style=Bold

! XFT CONFIGS

Xft.dpi:	96
Xft.rgba:	rgb
Xft.antialias: 	1
Xft.hinting: 	1
Xft.autohint: 	0
Xft.hintstyle: 	hintslight
Xft.lcdfilter: 	lcddefault

! URXVT CONFIGS

urxvt*internalBorder: 		10
!urxvt*internalBorder: 		0
urxvt.letterSpace: -1
urxvt.scrollTtyOutput: false
urxvt.scrollTtyKeypress: true
urxvt.scrollBar: false
urxvt.termName: rxvt
urxvt.imLocale: en_US.UTF-8
urxvt.loginShell: true
urxvt.saveLines: 4096
urxvt.boldMode: false
urxvt.inheritPixmap: false
urxvt.jumpScroll: false
urxvt.perl-ext-common: clipboard
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.iso14755:0
urxvt.iso14755_52:0
urxvt.cursorBlink: 1

! COLORS

!! solid
!urxvt*background: #121212
!urxvt*foreground: #888888

! transparent
urxvt.depth: 32
urxvt.background: [95]#121212
!urxvt.background: #000
urxvt*foreground: #888888

! man page colors
urxvt.colorIT:      #87af5f
urxvt.colorBD:      #d7d7d7
urxvt.colorUL:      #87afd7

! black
urxvt*color0: #1C1C1C
urxvt*color8: #404040
! red
urxvt*color1: #B85335
urxvt*color9: #CF6A4C
! green
urxvt*color2: #799D6A
urxvt*color10: #99AD6A
! yellow
urxvt*color3: #FFB964
urxvt*color11: #FAD07A
! blue
urxvt*color4: #667899
urxvt*color12: #8197BF
! magenta
urxvt*color5: #8787AF
urxvt*color13: #C6B6EE
! cyan
urxvt*color6: #668799
urxvt*color14: #8FBFDC
! white
urxvt*color7: #888888
urxvt*color15: #E8E8D3
